body {
    background: white;
    padding: 0px;
    text-align: center;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

input {
    color: black;
    border: none;
    background: white;
    border: 1px solid black;
}

.przycisk {
    color: white;
    background: rgb(28, 141, 233);
    border-radius: 20px;
    height: 30px;
    width: 60px;
    border: none;
}

.logo{
height: 200px;
width: 200px;
}
div{
    height: 500px;
    width: 500px;
    text-align: center;
    justify-content: center;
}